// /* margin公共类 */
// .margin(@i) when (@i <=50) {
//   .margin-@{i} {
//     margin: @i + 0px;
//   }

//   .margin(@i + 2)
// }

// .margin(2);

// /* margin-left */
// .ml(@i) when (@i <=50) {
//   .ml-@{i} {
//     margin-left: @i + 0px;
//   }

//   .ml(@i + 2)
// }

// .ml(2);

// /* margin-right */
// .mr(@i) when (@i <=50) {
//   .mr-@{i} {
//     margin-right: @i + 0px;
//   }

//   .mr(@i + 2)
// }

// .mr(2);

// /* margin-bottom */
// .mb(@i) when (@i <=50) {
//   .mb-@{i} {
//     margin-bottom: @i + 0px;
//   }

//   .mb(@i + 2)
// }

// .mb(2);

// /* margin-top */
// .mt(@i) when (@i <=50) {
//   .mt-@{i} {
//     margin-top: @i + 0px;
//   }

//   .mt(@i + 2)
// }

// .mt(2);

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}