// header
$--header-padding: 12px 20px;
$--header-bgc: #b5c0cf;

// aside
$--aside-padding: 12px 20px;
$--aside-bgc: #d5dce5;

// main
$--main-padding: 20px;
$--main-bgc: #fff;

// footer
$--footer-padding: 12px 20px;
$--footer-bgc: #b5c0cf;

